@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
}
body {
	overflow-x: hidden;
	background-color: #edf3f8;
	background-image: url("./assets/shared/desktop/bg-pattern-circle.svg"),
		url("./assets/home/desktop/illustration-phone-mockup.png"),
		url("./assets/shared/desktop/bg-pattern-circle.svg");
	background-repeat: no-repeat;
	background-size: 780px 780px, 263px 500px, 780px 780px;
	background-position: 1280px -172px, 1397px 162px, 1530px 1653px;
}

main {
	width: 100%;
}
h1,
h2 {
	font-family: "DM Serif Display", serif;
}

h1.large {
	font-size: 72px;
	line-height: 72px;
}
h1.small {
	font-size: 56px;
	line-height: 56px;
}
h2 {
	font-size: 48px;
	line-height: 56px;
}
h3.large {
	font-family: "DM Serif Display", sans-serif;
	font-size: 32px;
	line-height: 40px;
}
h3.small {
	font-family: "Public Sans", sans-serif;
	font-size: 18px;
	line-height: 25px;
}
h4 {
	font-family: "DM Serif Display", sans-serif;
	font-size: 24px;
	line-height: 32px;
}

body,
.content_text {
	font-family: "Public Sans", sans-serif;
	font-size: 15px;
	line-height: 28px;
}
.logo {
	height: 38px;
	width: 135px;
}
.primary1_background {
	background-color: #ba4270;
}
.primary2_background {
	background-color: #fbfcfe;
}
.secondary1_background {
	background-color: #36536b;
}
.secondary2_background {
	background-color: #1b262f;
}
.secondary3_background {
	background-color: #da6d97;
}
.secondary4_background {
	background-color: #6c8294;
}

.primary1_color {
	color: #ba4270;
}
.primary2_color {
	color: #fbfcfe;
}
.secondary1_color {
	color: #36536b;
}
.secondary2_color {
	color: #1b262f;
}
.secondary3_color {
	color: #da6d97;
}
.secondary4_color {
	color: #6c8294;
}

.with_margin {
	margin-left: 10vw;
}

.flex_container {
	top: 40px;
	align-items: center;
}
.flex_container {
	display: flex;
}
div.navbar {
	display: flex;
	gap: 40px;
}
p {
	display: flex;
	text-align: center;
}
.navbar {
	margin-left: 64px;
	width: auto;
}
.navbar_link:hover {
	cursor: pointer;
	color: #36536b;
}
.navbar_head {
	width: 80vw;
}

.end_of_flex {
	margin-left: auto;
}
.demo_button {
	display: inherit;
	padding: 15px 25px;
	border: none;
	border-radius: 24px;
	height: 48px;
	width: 173px;
	align-items: center;
}
a {
	text-decoration: none;
}

.grid_container {
	display: grid;
}
.head_grid_container {
	grid-template-columns: repeat(4, 136px);
	grid-template-rows: repeat(3, auto);
	gap: 20px;
}
.head_text {
	grid-column: 1/4 span;
}
.inline_flex {
	display: inline-flex;
}
.second_row {
	grid-row: 2;
}
.three_span_col {
	grid-column: 1/3 span;
}
.third_col {
	grid-column: 3;
}
input[type="email"] {
	border-radius: 24px;
	border: none;
	padding-left: 30px;
}
input[type="email"]:focus {
	outline: none;
}
.head_container {
	top: 240px;
	position: relative;
}
.question {
	grid-row: 3;
	grid-column: 1/2 span;
	display: inline;
}
.bold_text {
	font-weight: bold;
}
.text_container {
	margin: 100px auto 100px 165px;
	grid-column: 1;
	width: 445px;
	height: 272px;
}
.rel_pos {
	position: relative;
}
.abs_pos {
	position: absolute;
}
.auto_size {
	height: fit-content;
}

.two_cols_one_rows {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: auto auto;
}
.main_container {
	margin-top: 148px;
	position: initial;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.left_align {
	text-align: left;
}
.middle {
	align-self: center;
}

.about_button {
	width: 130px;
	height: 48px;
	border: 1px solid #fbfcfe;
	justify-content: center;
	border-radius: 24px;
}

.about_button:hover {
	background-color: white;
	color: #1b262f;
}

.cooperate {
	grid-template-columns: repeat(3, 180px);
	grid-template-rows: repeat(2, 32px);
	margin: 185px 164px 81px 0;
	justify-items: center;
	align-items: center;
	gap: 60px;
}

.first_row {
	grid-row: 1;
}
.second_row {
	grid-row: 2;
}
.third_row {
	grid-row: 3;
}
.first_col {
	grid-column: 1;
}
.second_col {
	grid-column: 2;
}

.scale {
	height: 32px;
	width: auto;
}

.implement_grid {
	grid-template-columns: 445px 445px;
	gap: 125px;
	align-items: center;
}

.easy_implement {
	width: 445px;
	height: 284px;
}

.simple_ui {
	height: 500px;
	width: auto;
	margin-left: 1185px;
}

.finance {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr auto;
	justify-items: center;
	row-gap: 32px;
}

.payment {
	width: 106px;
}

.margin_top_150px {
	margin-top: 150px;
}

.payment_text {
	gap: 16px;
	text-align: center;
	width: 350px;
}

.ready_to_start {
	grid-template-columns: 40vw 40vw;
	width: fit-content;
}

.center_body {
	margin-right: auto;
	margin-left: auto;
}

.ready_to_start_demo {
	grid-template-columns: repeat(4, 1fr);
	align-content: center;
}
.ready_to_start_email {
	grid-column: 3/2 span;
	grid-row: 1;
}
.ready_to_start_button {
	grid-column: 4;
	grid-row: 1;
	width: auto;
	justify-content: center;
}
.margin_top_100px {
	margin-top: 100px;
}

.btn:hover {
	cursor: pointer;
	background-color: #da6d97;
}

footer {
	height: 100px;
}

.media_social {
	width: 24px;
}

footer .grid_container {
	grid-template-columns: min-content min-content min-content;
	column-gap: 24px;
	text-align: right;
	justify-content: end;
	margin-right: 10vw;
	align-items: center;
}

.social1 {
	content: url("./assets/shared/desktop/facebook.svg");
	width: 24px;
	height: 24px;
}
.social1:hover {
	content: url("./assets/shared/desktop/facebook_hover.svg");
	width: 24px;
	height: 24px;
}
.social2 {
	content: url("./assets/shared/desktop/twitter.svg");
	width: 24px;
	height: 24px;
}
.social2:hover {
	content: url("./assets/shared/desktop/twitter_hover.svg");
	width: 24px;
	height: 24px;
}
.social3 {
	content: url("./assets/shared/desktop/linkedin.svg");
	width: 24px;
	height: 24px;
}
.social3:hover {
	content: url("./assets/shared/desktop/linkedin_hover.svg");
	width: 24px;
	height: 24px;
}
